{% extends "blog/base.html" %}

{% block title %}{{ item.title|safe }} - Блог Романа Ворушина{% endblock %}

{% block extrahead %}
    <meta property="og:title" content="{{ item.title }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ item.get_full_absolute_url }}"/>
    <meta property="og:site_name" content="Блог Романа Ворушина"/>
{% endblock %}

{% block feedicon %}{% endblock %}

{% block body %}
<div class="single_column">
    <h2>
        <a href="{{ item.get_absolute_url }}" class="entry_title" rel="bookmark">{{ item.title|safe }}</a>
        <span class="entry_date">{{ item.pub_date|date }}</span>
    </h2>

    <p>{{ item.text|safe }}</p>

    {% include "blog/twitter_button.html" %}

    {% include "blog/comments.html" %}
</div>

{% include "blog/right_bar.html" %}

{% endblock body %}